
// 全局颜色
sunkenRed = #ed4441 
sunkenLightRed = #ff6f76
sunkenBorderColor = #b5b5b5
sunkenSelectedRed = #eda7bb

// sunkenRed = blue 
// sunkenLightRed = blue
// sunkenBorderColor = blue
// sunkenSelectedRed = blue

// sunkenRed = green
// sunkenLightRed = green
// sunkenBorderColor = green
// sunkenSelectedRed = green