
@import 'base'

#chart-bar
    display: block

.controlbar 
    background: #fff
    border: 1px solid #c9c9c6
    height: 890px
    right: 5px
    position: fixed
    top: 88px
    width: 248px
    display: none
    z-index:999

    h4 
        font-size: 14px
        font-weight: normal
        text-align: center
        height: 40px
        line-height: 40px
        border-bottom: 1px solid #c9c9c6

    .tabbar 
        border-bottom: 1px solid #c9c9c6

        ul
            li 
                float: left
                width: 82px
                height: 34px
                line-height: 34px
                text-align: center
                border-right: 1px solid #c9c9c6
                font-size: 14px

            li:hover 
                background: sunkenLightRed
                color: #fff
                cursor: pointer

            li:last-child 
                border-right: none

            li.selected 
                background: sunkenLightRed
                color: #fff

    .settings 
        padding: 20px 12px

        dl 
            padding-bottom: 15px

        &:last-child 
            margin-bottom: 0

        dt 
            float: left
            width: 26%
            line-height: 30px

        dd 
            float: right
            width: 74%
            
            .rotate 
                width: 83px

            .reset 
                float: right
                width: 60px
                margin-left: 10px

            * 
                float: right
                
        .checkbox 
            margin-top: 4px

        .pair, 
        .custom-color, 
        .box 
            border-top: 1px solid #c9c9c6
            margin-top: 30px
            padding-top: 30px

        .custom-color 
            
            ul li 
                float: left
                width: 20px
                height: 20px
                outline: 1px solid #bfbcba

            ul li:hover 
                cursor: pointer

.controlbar[data-type="chart"] 
    .settings 
        display: none

    .settings.basic 
        display: block

#select-chart-data, 
#bind-data, 
#font-link, 
#global-bind-data 
    width: 100%
    margin-top: 10px


/*
#font-bar .settings.compose > button 
    float: left
    width: 35px
    height: 26px
    outline: 1px solid #c9c9c6
    background: rgb(248, 247, 249)

#font-bar .settings.compose > button:nth-child(2) 
    margin-right: 13px


#font-bar #font-bold 
    background-image: url(/resource/images/controlbar/font_bold.png)
    background-position: center
    background-repeat: no-repeat

#font-bar #font-italic 
    background-image: url(/resource/images/controlbar/font_italic.png)
    background-position: center
    background-repeat: no-repeat

#font-bar #font-align-left 
    background-image: url(/resource/images/controlbar/align_left.png)
    background-position: center
    background-repeat: no-repeat
    background-color:#319B8D

#font-bar #font-align-right 
    background-image: url(/resource/images/controlbar/align_right.png)
    background-position: center
    background-repeat: no-repeat

#font-bar #font-align-center 
    background-image: url(/resource/images/controlbar/align_center.png)
    background-position: center
    background-repeat: no-repeat

#font-bar #font-align-justify 
    background-image: url(/resource/images/controlbar/align_justify.png)
    background-position: center
    background-repeat: no-repeat



#chart-bar .settings.interaction .tip 
    margin-bottom: 20px
    display: block


#chart-bar .settings.interaction .start-panel button 
    width: 100px



#chart-bar .settings.interaction button:nth-child(3) 
    float: right


#chart-bar .follow-panel, #chart-bar .main-panel 
    display: none


#chart-bar .toggle 
    display: none


#chart-bar .start-panel 
    display: block

/*#chart-bar .toggle 
    margin-bottom: 
*/


#global-bar .settings > dl:nth-child(3) 
    padding: 0

