
@import 'base'

div[data-control="text"] 
    outline: 0

.wrapper > .container 
    background: #fff
    box-shadow: 0px 0px 1px #ccc
    width: 1440px
    margin-left: 55px
    margin-top: 55px

#canvas section 
    height: 800px
    overflow: hidden
    position: relative

.control 
    border: 1px solid transparent
    position: absolute
    
.control.selected 
    border: 1px dashed sunkenRed
    overflow: hidden
    // transform: matrix(1, 0, 0, 1, 0, 0)


.control:hover 
    cursor: pointer


