
@import 'base'

div[data-control="text"] 
    outline: 0

.wrapper > .container 
    background: #fff
    box-shadow: 0px 0px 1px #ccc
    width: 1440px
    margin-left: 55px
    margin-top: 55px

#canvas
    height: 800px
    overflow: hidden
    position: relative

.control 
    border: 1px solid transparent
    position: absolute
    
.control.selected 
    border: 1px dashed sunkenRed
    overflow: hidden
        
.control:hover 
    cursor: pointer

#save
    position: absolute
    width: 34px
    height: 82px
    
    line-height: 20px
        
    top: 128px
    left: 1496px

#create-document
    width: 290px
    // height: 120px
    
    background: #fff
    border: 1px solid sunkenBorderColor
    padding: 30px
    
    position: absolute
    z-index: 1001
    left: 50%
    top: 50%
    margin-left: -150px
    margin-top: -80px
    
    display: none

    h2
        margin-bottom: 20px

    // dl
    //     margin-bottom: 20px

    dt
        float: left
        width: 60px
        line-height: 30px
    
    dd
        float: right
        
        input
            width: 224px
