
@import 'base'

.block-bar 
    background: #f5f5f5
    left: 360px
    
    min-height: 234px
    outline: 1px solid #c9c9c9
    position: absolute
    top: 120px
    width: 32px
    z-index: 2

    li 
        background-image: url("/public/image/icon_block_bar_red.png")
        background-repeat: no-repeat
        height: 32px

    li:hover
        background-color: sunkenLightRed
        background-image: url("/public/image/icon_block_bar.png") 
        color: #fff
        cursor: pointer

        span 
            display: none

#block-up
    background-position: 0px 0px

#block-down
    background-position: 0px -31px

#block-bac
    background-position: 0px -62px

#block-add
    background-position: 0px -94px

#block-copy
    background-position: 0px -125px

#block-delete
    background-position: 0px -156px

#block-size
    background-position: 0px -186px

#block-empty
    background-position: 0px -227px
