
@import 'base'

#left-bar 
    background: #fff
    border: 1px solid #b5b5b5
    
    height: 90%
    left: 54px
    overflow-x: hidden
    overflow-y: hidden
    position: fixed
    top: 88px
    width: 200px
    z-index: 9
    display: none

    // 数据工具条的总标题
    h2
        font-size: 14px
        height: 40px
        line-height: 40px
        text-align: center
        background: sunkenLightRed
        color: #fff

    // 2015.7.14新增的上传样式
    h3
        font-size: 14px
        padding-bottom: 20px
    
.upload-section
    border-bottom: 1px solid sunkenBorderColor
    padding: 30px 0px 30px 17px
    
#upload
    margin-bottom: 20px
    

#left-bar 
    .data
        padding: 30px 0px 30px 17px

        dl
            padding-bottom: 20px
    
            dt
                font-weight: bold
                padding-bottom: 15px
    
            dd ul li
                height: 20px
                line-height: 20px;
    
// 新建数据源连接的窗口和样式
.new-connect
    position: absolute
    width: 692px
    height: 443px
    left: 0
    top: 0
    bottom: 0
    right: 0
    margin: auto
    border: 1px solid sunkenBorderColor
    border-top-color: sunkenRed
    background: #fff
    
    z-index: 1001
    display: none

    // 顶部进度条
    .bar
        width: 100%
        height: 4px

        ul
            width: 100%
            height: 100%

            li
                float: left
                border-right: 1px solid #fff
                width: 230px
                height: 100%
                background: #fff

            li.selected
                background: sunkenRed

            li:last-child
                border: none

    // 标题
    h2
        font-size: 18px
        margin-bottom: 60px

    .page
        padding: 60px
        display: none

        dl
            padding-bottom: 15px

            dt
                float: left
                width: 100px
                line-height: 30px
    
            dd
                float: left
                width: 300px

        input
            width: 200px

        .button
            width: 120px
            position: absolute
            bottom: 60px

    .page[data-id="1"]
        display: block

    .page[data-id="3"] 
        label
            line-height: 20px
            padding-left: 12px    
