
body
    background: #FF6F76
    width: 100%
    height: 100%

.slogan
    text-align: center
    color: #fff
    font-size: 40px
    padding-bottom: 80px


// loggin 框宽度
logginWidth = 400

.loggin
    position: absolute
    width: (logginWidth)px
    height: 300px
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto
    
.loggin input
    width: (logginWidth * 0.8 - 10)px
    margin-left: (logginWidth * 0.1)px
    height: 40px
    border: 1px solid #f5f5f5
    margin-bottom: 30px
    font-size: 16px
    padding-left: 10px
    

    