
@import 'base'

editorWidth = 600
editorHeight = 420

// 样式编辑组件的样式文件
#style-editor
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    
    width: (editorWidth)px
    height: (editorHeight)px
    background: sunkenLightRed
    border: 1px solid sunkenBorderColor
    
    textarea
        width: (editorWidth - 60)px
        height: (editorHeight - 60)px
        padding: 30px
    