.controlbar {
  background: #fff;
  border: 1px solid #c9c9c6;
  height: 890px;
  right: 5px;
  position: fixed;
  top: 88px;
  width: 248px;
  display: none;
  z-index: 999;
}
.controlbar h4 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #c9c9c6;
}
.controlbar .tabbar {
  border-bottom: 1px solid #c9c9c6;
}
.controlbar .tabbar ul li {
  float: left;
  width: 123px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-right: 1px solid #c9c9c6;
  font-size: 14px;
}
.controlbar .tabbar ul li:hover {
  background: #ff6f76;
  color: #fff;
  cursor: pointer;
}
.controlbar .tabbar ul li:last-child {
  border-right: none;
}
.controlbar .tabbar ul li.selected {
  background: #ff6f76;
  color: #fff;
}
.controlbar .settings {
  padding: 20px 12px;
}
.controlbar .settings dl {
  padding-bottom: 15px;
}
.controlbar .settings:last-child {
  margin-bottom: 0;
}
.controlbar .settings dt {
  float: left;
  width: 26%;
  line-height: 30px;
}
.controlbar .settings dd {
  float: right;
  width: 74%;
}
.controlbar .settings dd .rotate {
  width: 83px;
}
.controlbar .settings dd .reset {
  float: right;
  width: 60px;
  margin-left: 10px;
}
.controlbar .settings dd > * {
  float: right;
}
.controlbar .settings .checkbox {
  margin-top: 4px;
}
.controlbar .settings .pair,
.controlbar .settings .custom-color,
.controlbar .settings .box {
  border-top: 1px solid #c9c9c6;
  margin-top: 30px;
  padding-top: 30px;
}
.controlbar .settings .custom-color ul li {
  float: left;
  width: 20px;
  height: 20px;
  outline: 1px solid #bfbcba;
}
.controlbar .settings .custom-color ul li:hover {
  cursor: pointer;
}
.controlbar[data-type="chart"] .settings {
  display: none;
}
.controlbar[data-type="chart"] .settings.basic {
  display: block;
}
#select-chart-data,
#bind-data,
#font-link,
#global-bind-data {
  width: 100%;
  margin-top: 10px;
}
#global-bar .settings > dl:nth-child(3) {
  padding: 0;
}
