.toolbar {
  left: 0;
  padding-left: 10px;
  position: fixed;
  top: 34px;
  width: 100%;
  z-index: 1;
  background: #f5f5f5;
  height: 50px;
  padding-left: 555px;
}
.toolbar button {
  background-color: transparent;
  background-image: url("/public/image/toolbar.png");
  background-repeat: no-repeat;
  height: 42px;
  line-height: 66px;
  margin-top: 4px;
  width: 38px;
  margin-right: 15px;
}
.toolbar button:hover {
  background-color: #ff6f76;
  background-image: url("/public/image/toolbar-hover.png");
  color: #fff;
}
.toolbar button.selected {
  background-color: #2a887c;
  box-shadow: 0 0 3px #444 inset;
}
.toolbar .tool-color button {
  background: none;
  width: 101px;
}
.toolbar .tool-color button .block-bac-value {
  border: 1px solid #bfbfbf;
  float: left;
  font-size: 12px;
  height: 20px;
  width: 70px;
}
.toolbar .tool-color button .block-bac-current {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #000;
  float: left;
  height: 16px;
  margin-left: 5px;
  margin-top: 2px;
  width: 16px;
}
.toolbar .toolbar-tip {
  float: left;
  line-height: 18px;
  width: 100%;
}
.toolbar .toolbar-tip ul li {
  float: left;
  color: #fff;
  font-size: 12px;
  margin-top: 0;
  text-align: center;
  width: 38px;
}
.toolbar .toolbar-tip ul li:hover {
  cursor: default;
}
#start-bar .toolbar-group:nth-child(1) {
  margin-right: 34px;
}
#style-bar button {
  background-image: none;
}
#style-bar button img {
  height: 24px;
  width: 24px;
}
#style-bar .toolbar-tip li {
  margin-right: 8px;
}
#start-bar .tool-undo {
  background-position: -105px 4px;
}
#start-bar .tool-redo {
  background-position: -147px 4px;
}
#start-bar .tool-copy {
  background-position: -187px 4px;
}
#start-bar .tool-cut {
  background-position: -227px 4px;
}
#start-bar .tool-paste {
  background-position: -267px 4px;
}
#start-bar .tool-lock {
  background-position: -309px 4px;
}
#start-bar .tool-group {
  background-position: -349px 4px;
}
#start-bar .tool-delete {
  background-position: -392px 4px;
}
#start-bar .tool-top {
  background-position: -435px 4px;
}
#start-bar .tool-bottom {
  background-position: -475px 4px;
}
#start-bar .tool-front {
  background-position: -515px 4px;
}
#start-bar .tool-back {
  background-position: -554px 4px;
}
#start-bar .tool-rotation-right {
  background-position: -596px 4px;
}
#start-bar .tool-rotation-left {
  background-position: -635px 4px;
}
#start-bar .tool-align {
  background-position: -678px 4px;
}
#start-bar .tool-link {
  background-position: -720px 4px;
}
