#waterfall {
  margin: 0 auto;
  margin-top: 50px;
  min-height: 700px;
  padding-bottom: 50px;
  position: relative;
}
.template {
  box-shadow: 0 0 6px #ccc;
  display: inline-block;
  margin-right: 15px;
  position: absolute;
  text-align: center;
  width: 220px;
}
.template .preview {
  position: relative;
}
.template .preview i {
  background: url("../images/new.png") no-repeat;
  height: 58px;
  margin-left: 109px;
  margin-top: -5px;
  position: absolute;
  width: 77px;
  z-index: 1;
}
.template .preview .preview-shadow {
  background-color: #000;
  background-image: url("../images/preview-shadow.png");
  background-position: 60px 85px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  height: 230px;
  left: 10px;
  opacity: 0.85;
  position: absolute;
  top: 10px;
  width: 165px;
}
.template .description {
  padding-top: 10px;
  padding-bottom: 15px;
}
.template .author {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 12px;
}
.template .author .left {
  border-right: 1px solid #e5e5e5;
  float: left;
  height: 70px;
  width: 70px;
}
.template .author .author-head {
  float: left;
  height: 32px;
  margin: 19px;
  width: 32px;
}
.template .author .author-name {
  float: left;
  margin-left: 25px;
  margin-top: 19px;
}
.template .image {
  width: 100%;
}
.template .image:hover {
  cursor: pointer;
}
.template .entry {
  background: #ed4441;
  color: #fff;
  cursor: pointer;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 0px 15px 12px;
  width: 190px;
}
.template .entry:hover {
  background: #ff6f76;
  cursor: pointer;
  color: #fff;
}
.banner {
  background-color: #ff6f76;
  background-image: url("../image/list_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
