<h4>图表</h4>
<div class="tabbar">
    <ul class="clearfix">
        <li class="selected" data-name="basic">基础</li>
        <li data-name="source">数据源</li>
        <li data-name="interaction">关联</li>
    </ul>
</div>

<div class="settings basic">
    <dl class="clearfix">
        <dt>图表</dt>
        <dd>
            <div id="select-chart-type" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>坐标轴</dt>
        <dd>
            <button id="chart-axis" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>信息</dt>
        <dd>
            <button id="chart-message" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>图例</dt>
        <dd>
            <button id="chart-legend" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>时间轴</dt>
        <dd>
            <button id="chart-timeLine" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>旋转</dt>
        <dd>
            <button id="chart-reset" class="reset button">复位</button>
            <div class="select rotate">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul id="chart-rotate">                            
                            <li>30°</li>
                            <li>45°</li>
                            <li>60°</li>
                            <li>90°</li>
                            <li>180°</li>
                        </ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <button id="select-chart-data" class="button">编辑数据</button>

    <div class="box">
        <dl class="clearfix">
            <dt>标题</dt>
            <dd>
                <input id="chart-title" class="textbox" type="text" />
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>X轴标题</dt>
            <dd>
                <input id="chart-xAxisTitle" class="textbox" type="text" />
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>Y轴标题</dt>
            <dd>
                <input id="chart-yAxisTitle" class="textbox" type="text">
            </dd>
        </dl>
		
        <!-- <div class="custom-color">
            <p class="chart-color">图表颜色</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>        
        </div> -->
    </div>
</div>

<div class="settings source">
    <dl class="clearfix">
        <dt>数据源</dt>
        <dd>
            <div id="select-data" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>数据库</dt>
        <dd>
            <!-- <span class="select-value"></span> -->

            <div id="select-data-source" class="select">
                <span class="select-value"></span>
                <!-- <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div> -->
            </div>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>数据表</dt>
        <dd>
            <div id="select-data-table" class="select">
                <span class="select-value slect-value-width"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div class="pair">
        <dl class="clearfix">
            <dt>第一列</dt>
            <dd>
                <div id="select-column-1" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第二列</dt>
            <dd>
                <div id="select-column-2" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第三列</dt>
            <dd>
                <div id="select-column-3" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第四列</dt>
            <dd>
                <div id="select-column-4" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>    
    </div>

    <button id="bind-data" class="button">查看数据</button>
</div>

<div class="settings interaction">
    <!-- <dl class="clearfix">
            <dt>父源</dt>
            <dd>
                <div class="select">
                    <span class="select-value">条形图1</span>
                    <i></i>
                    <div class="select-wrapper">
                        <ul class="select-list">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>效果</dt>
            <dd>
                <div class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <ul class="select-list">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>匹配</dt>
            <dd>
                <div class="select">
                    <span class="select-value">第一列</span>
                    <i></i>
                    <div class="select-wrapper">
                        <ul class="select-list">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </dd>
        </dl>
 -->


    <section class="start-panel toggle">
        <span class="tip">请先选择</span>
        <button id="interaction-main"class="button">主图表</button>
        <button id="interaction-follow"class="button">辅图表</button>
    </section>

    <!-- 主图表 -->
    <section class="main-panel toggle">
        <dl class="clearfix">
            <dt>匹配</dt>
            <dd>
                <div id="interaction-main-column" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>关联</dt>
            <dd>
                <div id="interaction-main-effect" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul>
                                <li>重绘</li>
                                <li>气泡</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>
        <button id="interaction-main-bind" class="button" data-style="green">绑定交互</button>

    </section>
        
    <!--  辅图表 -->
    <section class="follow-panel toggle">
        <dl class="clearfix">
            <dt>父源</dt>
            <dd>
                <div id="interaction-father" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>效果</dt>
            <dd>
                <div id="interaction-effect" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul>
                                <li>重绘</li>
                                <li>气泡</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>匹配</dt>
            <dd>
                <div id="interaction-follow-column" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <button id="interaction-follow-bind" class="button">绑定交互</button>

        <!-- <div class="box">
            <dl class="clearfix">
                <dt>动画</dt>
                <dd>
                    <button id="interaction-animate" class="checkbox" data-value="checked"></button>
                </dd>
            </dl>
        </div> -->
    </section>
</div>