<div id="start-bar" class="toolbar" class="clearfix">
    <div class="container">
        <!--
        <button class="tool-preview" id="right-preview" data-type="preview">预览</button>
        <button class="tool-save">保存</button>
        <button class="tool-download" id="right-download" >下载</button>

        <button  id="download-zip" >ZIP</button>
    -->
        <button class="tool-undo">撤销</button>
        <button class="tool-redo">前进</button>
        <button class="tool-copy">复制</button>
        <button class="tool-cut">剪切</button>
        <button class="tool-paste">粘贴</button>
        <button class="tool-lock">锁定</button>
        <button class="tool-group">组合</button>
        <button class="tool-delete">删除</button>
        <button class="tool-top">置顶</button>
        <button class="tool-bottom">置底</button>
        <button class="tool-front">上移</button>
        <button class="tool-back">下移</button>     
     <!--    <button class="tool-align">对齐</button>
        <button class="tool-link">链接</button> -->
        <!-- <button class="tool-color">颜色</button> -->
        <div class="tool-color-wrap">
            <input id="inputColor" type="text" value="#FFFFFF" />
            <input class="tool-color" />
        </div>

        <div class="tool-opacity">
            <a></a>
            <input type="text" value="100%" enabled />
        </div>
    </div>
</div>

<div id="add-bar">
    <ul>
        <li id="add-chart" class="left-add-chart">图表</li>
        <li id="add-text" class="left-add-text">文本</li>
        <li id="add-image" class="left-add-image">图片</li>
        <li id="add-upload" class="left-add-upload">上传</li>
        <li id="add-icon" class="left-add-icon">图标</li>
        <li id="add-style" class="left-add-style">风格</li>
        <!-- <li id="add-map" class="left-add-map">地图</li> -->
        <li id="add-global" class="left-add-global">地球</li>
    </ul>
</div>

<div id="block-bar" class="block-bar">
    <ul>
        <li id="block-up" class="first clearfix" title="上一层">
            <span>上一层</span>
        </li>
        <li id="block-down" class="clearfix" title="下一层">
            <span>下一层</span>
        </li>
        <li id="block-bac" class="clearfix" title="背景">
            <span>背景</span>
        </li>
        <li id="block-add" class="clearfix" title="添加">
            <span>添加</span>
        </li>
        <li id="block-copy" class="clearfix" title="复制">
            <span>复制</span>
        </li>
        <li id="block-delete" class="clearfix" title="删减">
            <span>删减</span>
        </li>
        <li id="block-size" class="clearfix" title="画布尺寸">
            <span>画布尺寸</span>
        </li>
        <li id="block-empty" class="last clearfix" title="清空画布">
            <span>清空画布</span>
        </li>
    </ul>

</div>
<div id="left-bar" class="left-bar">
    <!-- TODO -->
    <div class="template-wrap">
        <section id="template-list-wrap">
            <div class="template chart-template">
                <div class="template-h">
                    <p>图表</p><span class="icon icon-cross closeParent"></span>
                </div>
                <div  class="select classify chart-tag">
                    <span class="select-value">所有</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list classify-div">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="template-detail">
                    <ul id="chart-template-list" class="template-list clearfix"></ul>
                </div>
            </div>
            <div class="template image-template">
                <div class="template-h">
                    <p>图片</p><span class="icon icon-cross closeParent"></span>
                </div>
               
                <div  class="select classify image-tag">
                    <span class="select-value">所有</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list classify-div">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="template-detail">
                    <ul id="image-template-list" class="template-list clearfix"></ul>
                </div>
            </div>
            <div class="template upload-template">
                <div class="template-h">
                        <p>自定义图片</p><span class="icon icon-cross closeParent"></span>
                    </div>
                    <div class="upload-image-wrap">
                    <span id="upload-image">
                        <button style="position: relative; z-index: 1;" id="upload-image-click" class="button button-gray">点此上传图片</button>
                    </span>
                    </div>              
                    <div class="template-detail">
                        <ul id="upload-template-list" class="template-list clearfix"></ul>
                    </div>             
                </div>
            <div class="template icon-template">
                <div class="template-h">
                    <p>icon</p><span class="icon icon-cross closeParent"></span>
                </div>
              
                <div  class="select classify">
                    <span class="select-value">所有</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list classify-div icon-tag">
                            <ul>
                                                            </ul>
                        </div>
                    </div>
                </div>
                <div class="template-detail">
                    <ul id="icon-template-list" class="template-list clearfix"></ul>
                </div>
            </div>
            <div class="template style-template ">
                <div class="template-h">
                    <p>风格</p><span class="icon icon-cross closeParent"></span>
                </div>
                
                <div  class="select classify style-tag">
                    <span class="select-value">所有</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list classify-div">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="template-detail">
                    <ul id="style-template-list" class="template-list clearfix"></ul>
                </div>
            </div>

        </section>
    </div>
</div>
<div id="color-panel"></div>
<div id="link-panel"></div>
<div id="chart-bar" class="controlbar" data-type="chart">
    
    <h4>图表</h4>
    <div class="tabbar">
        <ul class="clearfix">
            <li class="selected" data-name="basic">基础</li>
            <li data-name="source">数据源</li>
            <li data-name="interaction">关联</li>
        </ul>
    </div>

    <div class="settings basic">
        <dl class="clearfix">
            <dt>图表</dt>
            <dd>
                <div id="select-chart-type" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>坐标轴</dt>
            <dd>
                <button id="chart-axis" class="checkbox" data-value="checked"></button>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>信息</dt>
            <dd>
                <button id="chart-message" class="checkbox" data-value="checked"></button>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>图例</dt>
            <dd>
                <button id="chart-legend" class="checkbox" data-value="checked"></button>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>时间轴</dt>
            <dd>
                <button id="chart-timeLine" class="checkbox" data-value="checked"></button>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>旋转</dt>
            <dd>
                <button id="chart-reset" class="reset button">复位</button>
                <div class="select rotate">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul id="chart-rotate">                            
                                <li>30°</li>
                                <li>45°</li>
                                <li>60°</li>
                                <li>90°</li>
                                <li>180°</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <button id="select-chart-data" class="button">编辑数据</button>

        <div class="box">
            <dl class="clearfix">
                <dt>标题</dt>
                <dd>
                    <input id="chart-title" class="textbox" type="text" />
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>X轴标题</dt>
                <dd>
                    <input id="chart-xAxisTitle" class="textbox" type="text" />
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>Y轴标题</dt>
                <dd>
                    <input id="chart-yAxisTitle" class="textbox" type="text">
                </dd>
            </dl>
            
            <div class="custom-color">
            <!-- <p class="chart-color">图表颜色</p> -->
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>        
            </div>
        </div>
    </div>

    <div class="settings source">
        <dl class="clearfix">
            <dt>数据源</dt>
            <dd>
                <div id="select-data" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>数据库</dt>
            <dd>
                <!-- <span class="select-value"></span> -->

                <div id="select-data-source" class="select">
                    <span class="select-value"></span>
                    <!-- <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div> -->
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>数据表</dt>
            <dd>
                <div id="select-data-table" class="select">
                    <span class="select-value slect-value-width"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>
        <div class="pair">
            <dl class="clearfix">
                <dt>第一列</dt>
                <dd>
                    <div id="select-column-1" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>第二列</dt>
                <dd>
                    <div id="select-column-2" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>第三列</dt>
                <dd>
                    <div id="select-column-3" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>第四列</dt>
                <dd>
                    <div id="select-column-4" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>    
        </div>

        <button id="bind-data" class="button">查看数据</button>
    </div>

    <div class="settings interaction">
        <!-- <dl class="clearfix">
                <dt>父源</dt>
                <dd>
                    <div class="select">
                        <span class="select-value">条形图1</span>
                        <i></i>
                        <div class="select-wrapper">
                            <ul class="select-list">
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>效果</dt>
                <dd>
                    <div class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <ul class="select-list">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>匹配</dt>
                <dd>
                    <div class="select">
                        <span class="select-value">第一列</span>
                        <i></i>
                        <div class="select-wrapper">
                            <ul class="select-list">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            </dl>
     -->


        <section class="start-panel toggle">
            <span class="tip">请先选择</span>
            <button id="interaction-main"class="button">主图表</button>
            <button id="interaction-follow"class="button">辅图表</button>
        </section>

        <!-- 主图表 -->
        <section class="main-panel toggle">
            <dl class="clearfix">
                <dt>匹配</dt>
                <dd>
                    <div id="interaction-main-column" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>关联</dt>
                <dd>
                    <div id="interaction-main-effect" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul>
                                    <li>重绘</li>
                                    <li>气泡</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <button id="interaction-main-bind" class="button" data-style="green">绑定交互</button>

        </section>
            
        <!--  辅图表 -->
        <section class="follow-panel toggle">
            <dl class="clearfix">
                <dt>父源</dt>
                <dd>
                    <div id="interaction-father" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>效果</dt>
                <dd>
                    <div id="interaction-effect" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul>
                                    <li>重绘</li>
                                    <li>气泡</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="clearfix">
                <dt>匹配</dt>
                <dd>
                    <div id="interaction-follow-column" class="select">
                        <span class="select-value"></span>
                        <i></i>
                        <div class="select-wrapper">
                            <div class="select-list">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <button id="interaction-follow-bind" class="button">绑定交互</button>

        </section>
    </div>



</div>
<div id="font-bar" class="controlbar" data-type="font"></div>
<div id="global-bar" class="controlbar" data-type="global"></div>

<div class="container">
    <div id="canvas">
        <section class="block-selected"></section>
        <section></section>
    </div>

    <div class="common">
        <!--
        <div id="block-size-panel">
            <dl class="clearfix">
                <dt>宽</dt>
                <dd>
                    <input id="block-width-input" type="text" />
                </dd>
            </dl>
            
              <dl class="clearfix">
                <dt>高</dt>
                <dd>
                    <input id="block-height-input" type="text" />
                </dd>
            </dl>

        </div>
        -->

        <!--
        <a id="scroll-top" href="javascript:;"></a>
        <div id="tempArea"></div>
        <div id="reference-x"></div>
        <div id="reference-y"></div>

        <div id="zoom-upper-left"></div>
        <div id="zoom-upper-right"></div>
        <div id="zoom-bottom-left"></div>
        <div id="zoom-bottom-right"></div>
        <div id="zoom-preview"></div>
        <div id="zoom-rotate"></div>
    
        <div id="block-highlight">单击选中此页</div>
    -->
        <!-- 文本框工具条 -->
        <!--
        <div id="textbar" class="old-controlbar">
            <div class="controlbar-group">
                <div id="select-font-family" class="select font">
                    <span class="select-value">微软雅黑</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul>
                                <li data-value="\5b8b\4f53">宋体</li>
                                <li data-value="黑体">黑体</li>
                                <li data-value="microsoft yahei">微软雅黑</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controlbar-group">
                <input id="select-font-size" class="size" type="text" value="12" />
                <i class="px"></i>
            </div>
            <div class="controlbar-group">
                <button id="font-bold" class="bold"></button>
                <button id="font-italic" class="italic"></button>
                <button id="font-underline" class="underline"></button>
            </div>
            <div class="controlbar-group align-group">
                <button id="font-align-left" class="left"></button>
                <button id="font-align-center" class="center"></button>
                <button id="font-align-right" class="right"></button>
                <button id="font-align-justify" class="justify"></button>
            </div>
            <div class="controlbar-group">
                <button class="color">
                    <span class="line"></span>
                </button>
                <button class="background">
                    <span class="line"></span>
                </button>
            </div>
        </div>
    </div>
        -->
</div>

<!-- 数据表格 -->
<!--
<div id="chart-data"></div>
<div class="pivottable">
<div class="charttab clearfix">
    <button id="download-pivot" class="button button-gray" data-style="gray">添加到画布</button>
    <button id="close-pivot" class="button button-gray" data-style="gray">关闭</button>
</div>
<div class="pivottableCon">
</div>
</div>

<div id="download-window">
    <button id="download-code" class="button" data-style="green">生成代码</button>
    <button id="download-image" class="button" data-style="green">下载图片</button>
    <a class="close" href="#">X</a>
</div>
-->

<!-- loading -->
<!--
<div id="loading">
    <img src="/resource/images/big_loading.gif" alt="loading" />
</div>

<iframe id="download-frame" src="" frameborder="0"></iframe>
-->