<div id="start-bar" class="toolbar" class="clearfix">
    <div class="container">
        
        <!-- <button class="tool-preview" id="right-preview" data-type="preview">预览</button>
        <button class="tool-save">保存</button>
        <button class="tool-download" id="right-download" >下载</button>

        <button  id="download-zip" >ZIP</button>
     -->
        <button class="tool-undo">撤销</button>
        <button class="tool-redo">前进</button>
        <button class="tool-copy">复制</button>
        <button class="tool-cut">剪切</button>
        <button class="tool-paste">粘贴</button>
        <button class="tool-lock">锁定</button>
        <button class="tool-group">组合</button>
        <button class="tool-delete">删除</button>
        <button class="tool-top">置顶</button>
        <button class="tool-bottom">置底</button>
        <button class="tool-front">上移</button>
        <button class="tool-back">下移</button>
        <!--<button class="tool-align">对齐</button>-->
        <!-- <button class="tool-link">链接</button> -->
        <!-- <button class="tool-color">颜色</button> -->
        <div class="tool-color-wrap">
            <input id="inputColor" type="text" value="#FFFFFF" />
            <input class="tool-color" />
        </div>
        
        <!--
        <div class="tool-opacity">
            <a></a>
            <input type="text" value="100%" enabled />
        </div>
        -->
    </div>
</div>

<div id="add-bar"></div>
<div id="chart-bar" class="controlbar" data-type="chart"></div>

<div class="container">
    <div id="canvas">
        <section class="block-selected"></section>
    </div>

    <div class="common">
        <!--
        <a id="scroll-top" href="javascript:;"></a>
        <div id="tempArea"></div>
        <div id="reference-x"></div>
        <div id="reference-y"></div>

        <div id="zoom-upper-left"></div>
        <div id="zoom-upper-right"></div>
        <div id="zoom-bottom-left"></div>
        <div id="zoom-bottom-right"></div>
        <div id="zoom-preview"></div>
        <div id="zoom-rotate"></div>
    
        <div id="block-highlight">单击选中此页</div>
    -->
        <!-- 文本框工具条 -->
        <!--
        <div id="textbar" class="old-controlbar">
            <div class="controlbar-group">
                <div id="select-font-family" class="select font">
                    <span class="select-value">微软雅黑</span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul>
                                <li data-value="\5b8b\4f53">宋体</li>
                                <li data-value="黑体">黑体</li>
                                <li data-value="microsoft yahei">微软雅黑</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controlbar-group">
                <input id="select-font-size" class="size" type="text" value="12" />
                <i class="px"></i>
            </div>
            <div class="controlbar-group">
                <button id="font-bold" class="bold"></button>
                <button id="font-italic" class="italic"></button>
                <button id="font-underline" class="underline"></button>
            </div>
            <div class="controlbar-group align-group">
                <button id="font-align-left" class="left"></button>
                <button id="font-align-center" class="center"></button>
                <button id="font-align-right" class="right"></button>
                <button id="font-align-justify" class="justify"></button>
            </div>
            <div class="controlbar-group">
                <button class="color">
                    <span class="line"></span>
                </button>
                <button class="background">
                    <span class="line"></span>
                </button>
            </div>
        </div>
        -->
    </div>
</div>