
<div class="container">
    <button class="tool-undo">撤销</button>
    <button class="tool-redo">前进</button>
    <button class="tool-copy">复制</button>
    <button class="tool-cut">剪切</button>
    <button class="tool-paste">粘贴</button>
    <button class="tool-lock">锁定</button>
    <button class="tool-group">组合</button>
    <button class="tool-delete">删除</button>
    <button class="tool-top">置顶</button>
    <button class="tool-bottom">置底</button>
    <button class="tool-front">上移</button>
    <button class="tool-back">下移</button>

    <div class="tool-color-wrap">
        <input id="inputColor" type="text" value="#FFFFFF" />
        <input class="tool-color" />
    </div>
</div>
