<h4>图表</h4>
<div class="tabbar">
    <ul class="clearfix">
        <li class="selected" data-name="basic">基础</li>
        <li data-name="source">数据源</li>
    </ul>
</div>

<div class="settings basic">
    <dl class="clearfix">
        <dt>图表</dt>
        <dd>
            <div id="select-chart-type" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <button id="chart-style" class="button">编辑样式</button>
</div>

<div class="settings source">
    <dl class="clearfix">
        <dt>数据源</dt>
        <dd>
            <div id="select-data" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>数据库</dt>
        <dd>
            <!-- <span class="select-value"></span> -->

            <div id="select-data-source" class="select">
                <span class="select-value"></span>
                <!-- <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div> -->
            </div>
        </dd>
    </dl>
    <dl class="clearfix">
        <dt>数据表</dt>
        <dd>
            <div id="select-data-table" class="select">
                <span class="select-value slect-value-width"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div class="pair">
        <dl class="clearfix">
            <dt>第一列</dt>
            <dd>
                <div id="select-column-1" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第二列</dt>
            <dd>
                <div id="select-column-2" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第三列</dt>
            <dd>
                <div id="select-column-3" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>第四列</dt>
            <dd>
                <div id="select-column-4" class="select">
                    <span class="select-value"></span>
                    <i></i>
                    <div class="select-wrapper">
                        <div class="select-list">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>    
    </div>

    <button id="bind-data" class="button">查看数据</button>
</div>
