

<h2>数据</h2>

<section class="upload">
    <h3>从本地上传</h3>

    <div id="upload">
        <img src="/public/image/upload.png" alt="" />
    </div>
    <a id="new-connect" href="javascript:;">连接数据源</a>
</section>

<section class="data">

    <h3>当前数据</h3>
    <dl>
        <dt>playeasy</dt>
        <dd>
            <ul>
                <li>pe_user</li>
                <li>pe_template</li>
                <li>pe_document</li>
                <li>pe_file</li>
            </ul>
        </dd>
    </dl>
</section>
