

    <button class="tool-undo">Undo</button>
    <button class="tool-redo">Redo</button>
    <button class="tool-copy">Copy</button>
    <button class="tool-cut">Cut</button>
    <button class="tool-paste">Paste</button>
    <button class="tool-lock">Lock</button>
    <button class="tool-group">Group</button>
    <button class="tool-delete">Delete</button>
    <!--
    <button class="tool-top">置顶</button>
    <button class="tool-bottom">置底</button>
    <button class="tool-front">上移</button>
    <button class="tool-back">下移</button>
-->
    
    <!--
    <div class="tool-color-wrap">
        <input id="inputColor" type="text" value="#FFFFFF" />
        <input class="tool-color" />
    </div>
-->

