<h4>Chart</h4>
<div class="tabbar">
    <ul class="clearfix">
        <li class="selected" data-name="basic">Basic</li>
        <li data-name="source">Data</li>
    </ul>
</div>

<div class="settings basic">
    <dl class="clearfix">
        <dt>type</dt>
        <dd>
            <div id="select-chart-type" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>axis</dt>
        <dd>
            <button id="chart-axis" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>info</dt>
        <dd>
            <button id="chart-message" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <dl class="clearfix">
        <dt>legend</dt>
        <dd>
            <button id="chart-legend" class="checkbox" data-value="checked"></button>
        </dd>
    </dl>

    <button id="chart-style" class="button">编辑样式</button>

    <div class="box">
        <dl class="clearfix">
            <dt>title</dt>
            <dd>
                <input id="chart-title" class="textbox" type="text" />
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>x title</dt>
            <dd>
                <input id="chart-xAxisTitle" class="textbox" type="text" />
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>y title</dt>
            <dd>
                <input id="chart-yAxisTitle" class="textbox" type="text">
            </dd>
        </dl>
    </div>

</div>

<div class="settings source">
    
    <dl class="clearfix">
        <dt>table</dt>
        <dd>
            <div id="select-data" class="select">
                <span class="select-value"></span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div class="pair">
        <dl class="clearfix">
            <dt>xAxis</dt>
            <dd>
                <input id="input-data-axis" class="textbox" type="text" />
            </dd>
        </dl>

        <dl class="clearfix">
            <dt>series</dt>
            <dd>
                <input id="input-data-series" class="textbox" type="text" />
            </dd>
        </dl>
    
        <div>
            <a id="add-series" href="#">add series.</a>
        </div>

        <dl class="clearfix">
            <dt>colors</dt>
            <dd>
                <input id="input-data-color" class="textbox" type="text" />
            </dd>
        </dl>        
    </div>

    <!--<button id="bind-data" class="button">查看数据</button>-->
</div>
