<div id="tool-bar" class="toolbar" class="clearfix"></div>
<div id="add-bar"></div>
<div id="left-bar"></div>
<div id="chart-bar" class="controlbar" data-type="chart"></div>

<div class="container">
    <div id="canvas">
        <section class="block-selected"></section>
    </div>
    <div class="common"></div>
</div>

<section class="new-connect">
    <div class="bar">   
        <ul>
            <li class="selected"></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="page" data-id="1">
        <h2>建立数据源连接</h2>
        <dl class="clearfix">
            <dt>HostName</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>
        <dl class="clearfix">
            <dt>Port</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>
        <dl class="clearfix">
            <dt>UserName</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>
        <dl class="clearfix">
            <dt>Password</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>

        <button class="button" data-id="1">下一步</button>
    </div>

    <div class="page" data-id="2">
        <h2>选择表</h2>
        <dl class="clearfix">
            <dt>Schema</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>
        <dl class="clearfix">
            <dt>Table</dt>
            <dd><input class="textbox" type="text"></dd>
        </dl>
        
        <button class="button" data-id="2">下一步</button>
    </div>

    <div class="page" data-id="3">
        <h2>完成</h2>
        
        <div>
            <button class="checkbox"></button>
            <label for="checkbox">导入到数据托管中心</label>
        </div>
        
        
        <button class="button" data-id="3">完成</button>
    </div>
</section>