<ul>
    <li id="add-chart" class="left-add-chart">Chart</li>
    <li id="add-text" class="left-add-text">Text</li>
    <li id="add-image" class="left-add-image">Image</li>
    <li id="add-data" class="left-add-image">Data</li>
    <!-- <li id="add-upload" class="left-add-upload">上传</li> -->
    <!-- <li id="add-icon" class="left-add-icon">图标</li> -->
    <!-- <li id="add-style" class="left-add-style">风格</li> -->
    <!-- <li id="add-map" class="left-add-map">地图</li> -->
    <!-- <li id="add-global" class="left-add-global">地球</li> -->
</ul>