<a id="scroll-top" href="javascript:;">
</a>
<div class="banner"></div>
<!--
<div class="screening">
    <dl>
        <dt>编辑模板</dt>
        <dd>
            <div id="select-recommend" class="select" data-id="0">
                <span class="select-value">全部</span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <a data-id="0" href="javascript:;">全部</a>
                        <a ng-repeat="r in recommend" data-id="{{r.id}}" href="javascript:;">{{r.codeName}}</a>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <dl>
        <dt>主题</dt>
        <dd>
            <div id="select-theme" class="select" data-id="0">
                <span class="select-value">主题</span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <a data-id="0" href="javascript:;">全部</a>
                        <a ng-repeat="t in themes" data-id="{{t.id}}" href="javascript:;">{{t.codeName}}</a>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl>
        <dt>风格</dt>
        <dd>
            <div id="select-style" class="select" data-id="0">
                <span class="select-value">全部</span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <a data-id="0" href="javascript:;">全部</a>
                        <a ng-repeat="c in colors" data-id="{{c.id}}" href="javascript:;">{{c.name}}</a>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <dl>
        <dt>输出类别</dt>
        <dd>
            <div id="select-output" class="select" data-id="0">
                <span class="select-value">全部</span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <a data-id="0" href="javascript:;">全部</a>
                        <a ng-repeat="e in echos" data-id="{{e.id}}" href="javascript:;">{{e.codeName}}</a>
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    <dl>
        <dt>排版</dt>
        <dd>
            <div id="select-composing" class="select" data-id="0">
                <span class="select-value">全部</span>
                <i></i>
                <div class="select-wrapper">
                    <div class="select-list">
                        <a data-id="0" href="javascript:;">全部</a>
                        <a ng-repeat="c in composing" data-id="{{c.id}}" href="javascript:;">{{c.codeName}}</a>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
</div>
-->
<div id="waterfall">
    <div class="template">
        <a class="collect" href="#">收藏</a>
        <a class="like" href="#">赞</a>
        <img class="image" src="/public/image/empty_template.png" />
        <div class="description clearfix">
            <h6 class="template-name"></h6>
            <span class="like-number"></span>
        </div>
            <a class="entry" herf="#">选择</a>
        </div>
    </div>
</div>