
<a id="scroll-top" href="javascript:;"></a>
<div class="banner">This changes everything.</div>
<div class="screening">
    <img src="/public/image/screening.png" alt="" />
</div>
<div id="waterfall">
    <div class="template" data-column="0" data-y="0">
        <img class="image" src="/public/image/empty_template.png" />
        <div class="description clearfix">空白模板</div>
            <a class="entry" data-id="0" href="/#!/detail?templateId=0">create</a>
        </div>
    </div>
</div>

<div id="create-document">
    
    <!-- <h2>新画布</h2> -->
    <dl class="clearfix">
        <dt>标题：</dt>
        <dd><input class="title textbox" type="text" /></dd>
    </dl>

    <!--<dl class="clearfix">
        <dt>描述：</dt>
        <dd><input class="textbox" type="text" /></dd>
    </dl>
    
    <button class="button">创建</button>
    <button class="button" data-style="gray">取消</button>
-->
</div>