<div class="tabbar">
    <div class="container">
        <a class="selected" href="/#/tueasy">我的作品</a>
        <!-- <a href="#">我的收藏</a> -->
        <a href="/#/data">我的数据源</a>
    </div>
</div>

<div class="container">

    <div class="top">
        <div class="info">
            <span>已经制作了<span id="number"></span>个可视化案例</span>
           <!--  <a href="">修改昵称</a> -->
        </div>
<!--
        <div class="search-container">
            <input class="textbox" type="text" />
            <button id="search-submit" class="button" data-style="green">搜索</button>
        </div> -->

    </div>



    <div id="waterfall" class="waterfall clearfix">
        <ul>
            <!-- <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li>
            <li class="document">
                <img src="/resource/images/template/1.png" alt="测试的模板1" />
                <div class="bottom clearfix">
                    <span class="title">随便写的标题，用来测试一下长度</span>
                    <i></i>
                </div>
            </li> -->
        </ul>
    </div>
</div>